In [1]:
import pandas as pd
import numpy as np

https://www.kaggle.com/datasets/bourdier/all-tv-series-details-dataset

In [2]:
tvs = pd.read_csv('C:\\Users\huawei\\Documents\\GitHub\\Capstone-Project\\Tv_show_files\\tvs.csv')

C:\Users\huawei\AppData\Local\Temp\ipykernel_19264\2090021127.py:1: DtypeWarning: Columns (11,12,13,14,15,16,35,36,37,43,44,45,69,70,71,72,73,74,75,76,77,78,79,80,85,86,87,88,89,90,91,92,93,94,95,96,121,122,123,124,125,126,127,128,129,130,131,132,139,140,141,142,143,144,145,146,147,148,149,150,157,158,159,160,161,162,163,164,165,166,167,168,175,176,177,178,179,180,181,182,183,184,185,186) have mixed types. Specify dtype option on import or set low_memory=False.
  tvs = pd.read_csv('C:\\Users\huawei\\Documents\\GitHub\\Capstone-Project\\File - Tv shows\\tvs.csv')

In [3]:
tvs

,_id,id,name,original_name,overview,tagline,in_production,status,original_language,origin_country[0],...,production_companies[9]._id,production_companies[10]._id,production_companies[11]._id,production_companies[12]._id,production_companies[13]._id,production_companies[14]._id,production_companies[15]._id,production_companies[16]._id,production_companies[17]._id,__v
0,6457d26c7b901e08b141869d,13,How do you like Wednesday?,水曜どうでしょう,How do you like Wednesday? was a Japanese tele...,NaN,True,Returning Series,ja,JP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6457d26c7b901e08b141867a,2,Clerks,Clerks,The continuing adventures of store clerks Dant...,NaN,False,Canceled,en,US,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6457d26c7b901e08b141869f,14,Shuriken School,Shuriken School,Shuriken School is a British animated series t...,NaN,False,Ended,en,FR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6457d26c7b901e08b14186a5,15,Mister Rogers' Neighborhood,Mister Rogers' Neighborhood,Mister Rogers' Neighborhood is an American chi...,Won't you be my neighbor?,False,Ended,en,US,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6457d26c7b901e08b14186ab,16,Sidewalks: Video Nite,Sidewalks: Video Nite,Sidewalks: Video Nite is an American televisio...,NaN,False,Ended,en,US,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152965,6486d361e48e861edb3d8390,228546,I Am Groot,I Am Groot,There’s no guarding the galaxy from this misch...,NaN,True,Returning Series,en,US,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
152966,6486d361e48e861edb3d8395,228547,当我飞奔向你,当我飞奔向你,NaN,NaN,True,Returning Series,zh,CN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
152967,6486d361e48e861edb3d8397,228548,Les vampires,Les vampires,NaN,NaN,True,Returning Series,cs,CZ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
152968,6486d361e48e861edb3d8398,228549,Let's Talk About the War,Let's Talk About the War,NaN,NaN,True,Returning Series,cs,CZ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
152969,6486d361e48e861edb3d8399,228550,Muscles & Mayhem: An Unauthorized Story of Ame...,Muscles & Mayhem: An Unauthorized Story of Ame...,"In the '90s, TV's stunt-filled ""American Gladi...",NaN,True,Returning Series,en,US,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [4]:
tvs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152970 entries, 0 to 152969
Columns: 188 entries, _id to __v
dtypes: bool(1), float64(46), int64(3), object(138)
memory usage: 218.4+ MB

In [6]:
tvs = tvs[['id', 'name', 'original_name', 'tagline','in_production', 'status', 'original_language', 'first_air_date',
           'last_air_date', 'number_of_episodes', 'number_of_seasons', 'poster_path', 'vote_average', 'vote_count', 'popularity',
           'origin_country[0]','genres[0].name', 'created_by[0].name', 'production_companies[0].name', 'production_companies[0].origin_country']]

In [7]:
tvs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152970 entries, 0 to 152969
Data columns (total 20 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   id                                      152970 non-null  int64
 1   name                                    152964 non-null  object
 2   original_name                           152964 non-null  object
 3   tagline                                 4601 non-null    object
 4   in_production                           152970 non-null  bool
 5   status                                  152970 non-null  object
 6   original_language                       152970 non-null  object
 7   first_air_date                          121894 non-null  object
 8   last_air_date                           124031 non-null  object
 9   number_of_episodes                      152336 non-null  float64
 10  number_of_seasons                       152970 non-null  int64
 11  poster_path                             96343 non-null   object
 12  vote_average                            152970 non-null  float64
 13  vote_count                              152970 non-null  int64
 14  popularity                              152970 non-null  float64
 15  origin_country[0]                       120312 non-null  object
 16  genres[0].name                          89608 non-null   object
 17  created_by[0].name                      32921 non-null   object
 18  production_companies[0].name            52716 non-null   object
 19  production_companies[0].origin_country  40519 non-null   object
dtypes: bool(1), float64(3), int64(3), object(13)
memory usage: 22.3+ MB

In [9]:
tvs['genres[0].name']

0            Comedy
1         Animation
2            Comedy
3              Kids
4               NaN
            ...
152965    Animation
152966         Soap
152967          NaN
152968          NaN
152969          NaN
Name: genres[0].name, Length: 152970, dtype: object

------------------------------------------------------------------------------------------------------

The one above - not good, we do not even have synopsis info

The one bellow is better:    (https://www.kaggle.com/datasets/muralidharbhusal/50000-imdb-tv-and-web-series)

In [18]:
tvs1 = pd.read_csv('C:\\Users\\huawei\\Documents\\GitHub\\Capstone-Project\\Tv_show_files\\TV Series.csv')

In [13]:
tvs1

,Series Title,Release Year,Runtime,Genre,Rating,Cast,Synopsis
0,Wednesday,(2022– ),45 min,"Comedy, Crime, Fantasy",8.2,"Jenna Ortega, Hunter Doohan, Percy Hynes White...","Follows Wednesday Addams' years as a student, ..."
1,Yellowstone,(2018– ),60 min,"Drama, Western",8.7,"Kevin Costner, Luke Grimes, Kelly Reilly, Wes ...",A ranching family in Montana faces off against...
2,The White Lotus,(2021–2023),60 min,"Comedy, Drama",7.9,"Jennifer Coolidge, Jon Gries, F. Murray Abraha...","Set in a tropical resort, it follows the explo..."
3,1923,(2022–2023),60 min,"Drama, Western",8.6,"Harrison Ford, Helen Mirren, Brandon Sklenar, ...",The Duttons face a new set of challenges in th...
4,Jack Ryan,(2018– ),60 min,"Action, Drama, Thriller",8.0,"John Krasinski, Wendell Pierce, Michael Kelly,...","Up-and-coming CIA analyst, Jack Ryan, is thrus..."
...,...,...,...,...,...,...,...
49995,Law & Order: Special Victims Unit,(1999– ),60 min,"Crime, Drama, Mystery",8.1,"Mariska Hargitay, Christopher Meloni, Ice-T, D...","This series follows the Special Victims Unit, ..."
49996,Doctor Who,(2005– ),45 min,"Adventure, Drama, Sci-Fi",8.6,"Jodie Whittaker, Peter Capaldi, Pearl Mackie, ...",The further adventures in time and space of th...
49997,The Lord of the Rings: The Rings of Power,(2022– ),****,"Action, Adventure, Drama",6.9,"Morfydd Clark, Ismael Cruz Cordova, Charlie Vi...",Epic drama set thousands of years before the e...
49998,The Bear,(2022– ),30 min,"Comedy, Drama",8.4,"Jeremy Allen White, Ebon Moss-Bachrach, Ayo Ed...",A young chef from the fine dining world return...
49999,Supernatural,(2005–2020),44 min,"Drama, Fantasy, Horror",8.4,"Jared Padalecki, Jensen Ackles, Jim Beaver, Mi...",Two brothers follow their father's footsteps a...

In [14]:
tvs1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Series Title  50000 non-null  object
 1   Release Year  49800 non-null  object
 2   Runtime       50000 non-null  object
 3   Genre         50000 non-null  object
 4   Rating        50000 non-null  object
 5   Cast          49909 non-null  object
 6   Synopsis      50000 non-null  object
dtypes: object(7)
memory usage: 2.7+ MB

In [15]:
tvs1['Series Title'].describe()

count          50000
unique          9644
top       The Office
freq             804
Name: Series Title, dtype: object

--------------------------------------------------------------------------------------------------------------------------------

https://www.kaggle.com/datasets/harshitshankhdhar/tv-series-dataset

I also like this one, 2000 rows, not many missing values (only in one of the columns)

In [17]:
tvs2 = pd.read_csv('C:\\Users\\huawei\\Documents\\GitHub\\Capstone-Project\\Tv_show_files\\series_data.csv')

In [27]:
tvs2

,Poster_Link,Series_Title,Runtime_of_Series,Certificate,Runtime_of_Episodes,Genre,IMDB_Rating,Overview,Star1,Star2,Star3,Star4,No_of_Votes
0,https://m.media-amazon.com/images/M/MV5BYTRiND...,Game of Thrones,(2011–2019),A,57 min,"Action, Adventure, Drama",9.3,Nine noble families fight for control over the...,Emilia Clarke,Peter Dinklage,Kit Harington,Lena Headey,1773458
1,https://m.media-amazon.com/images/M/MV5BMjhiMz...,Breaking Bad,(2008–2013),18,49 min,"Crime, Drama, Thriller",9.5,A high school chemistry teacher diagnosed with...,Bryan Cranston,Aaron Paul,Anna Gunn,Betsy Brandt,1468887
2,https://m.media-amazon.com/images/M/MV5BMTc5Zm...,The Walking Dead,(2010– ),18+,44 min,"Drama, Horror, Thriller",8.2,Sheriff Deputy Rick Grimes wakes up from a com...,Andrew Lincoln,Norman Reedus,Melissa McBride,Danai Gurira,854698
3,https://m.media-amazon.com/images/M/MV5BNDVkYj...,Friends,(1994–2004),13+,22 min,"Comedy, Romance",8.9,Follows the personal and professional lives of...,Jennifer Aniston,Courteney Cox,Lisa Kudrow,Matt LeBlanc,829816
4,https://m.media-amazon.com/images/M/MV5BMjEzMD...,Stranger Things,(2016– ),15,51 min,"Drama, Fantasy, Horror",8.7,"When a young boy disappears, his mother, a pol...",Millie Bobby Brown,Finn Wolfhard,Winona Ryder,David Harbour,824966
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,https://m.media-amazon.com/images/M/MV5BYTk4OG...,Shaman Kingu,(2001–2005),NaN,23 min,"Animation, Action, Adventure",8.1,SHAMAN KING follows the adventures of a 13-yea...,Oliver Wyman,Andrew Rannells,Michael Sinterniklaas,Megumi Hayashibara,5131
1996,https://m.media-amazon.com/images/M/MV5BMTUyND...,"Eerie, Indiana",(1991–1992),NaN,30 min,"Adventure, Comedy, Drama",8.2,Teenage weirdness investigator Marshall Teller...,Omri Katz,Justin Shenkarow,Mary-Margaret Humes,Francis Guinan,5128
1997,https://m.media-amazon.com/images/M/MV5BMTcxMD...,Gunsmoke,(1955–1975),NaN,60 min,Western,7.9,Marshal Matt Dillon keeps the peace in rough a...,James Arness,Milburn Stone,Amanda Blake,Ken Curtis,5115
1998,https://m.media-amazon.com/images/M/MV5BYWQwNm...,The Cheat,(2017– ),NaN,20 min,"Action, Drama, Sci-Fi",8.8,Felix is a software developer who works for th...,Taha Ulukaya,Taner Sahin,Andac Ulukaya,Neslihan Ulusoy,5111
1999,https://m.media-amazon.com/images/M/MV5BMjQ5Mj...,Comic Book Men,(2012–2018),NaN,22 min,"Comedy, Reality-TV",7.7,An unscripted series set in Smith's iconic com...,Kevin Smith,Walter Flanagan,Mike Zapcic,Bryan Johnson,5109

In [20]:
tvs2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Poster_Link          2000 non-null   object
 1   Series_Title         2000 non-null   object
 2   Runtime_of_Series    2000 non-null   object
 3   Certificate          703 non-null    object
 4   Runtime_of_Episodes  1957 non-null   object
 5   Genre                2000 non-null   object
 6   IMDB_Rating          2000 non-null   float64
 7   Overview             2000 non-null   object
 8   Star1                2000 non-null   object
 9   Star2                2000 non-null   object
 10  Star3                1999 non-null   object
 11  Star4                1995 non-null   object
 12  No_of_Votes          2000 non-null   int64
dtypes: float64(1), int64(1), object(11)
memory usage: 203.3+ KB

In [29]:
tvs2_dropped = tvs2.drop('Certificate', axis = 1)

In [30]:
tvs2_dropped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Poster_Link          2000 non-null   object
 1   Series_Title         2000 non-null   object
 2   Runtime_of_Series    2000 non-null   object
 3   Runtime_of_Episodes  1957 non-null   object
 4   Genre                2000 non-null   object
 5   IMDB_Rating          2000 non-null   float64
 6   Overview             2000 non-null   object
 7   Star1                2000 non-null   object
 8   Star2                2000 non-null   object
 9   Star3                1999 non-null   object
 10  Star4                1995 non-null   object
 11  No_of_Votes          2000 non-null   int64
dtypes: float64(1), int64(1), object(10)
memory usage: 187.6+ KB

------------------------------------------------------------------------------------------


https://www.kaggle.com/datasets/suraj520/imdb-tv-series-data/data

Very good as well

In [70]:
import os

parent_folder_path = '/kaggle/input/imdb-tv-series-data'

parent_folder_path = 'C:\\Users\\huawei\\Documents\\GitHub\\Capstone-Project\\Tv_show_files\\archive'

# Initialize an empty list to store the dataframes
dfs = []

# Iterate over each file in the parent folder
for root, dirs, files in os.walk(parent_folder_path):
    for filename in files:
        if filename.endswith('.csv'):
            file_path = os.path.join(root, filename)

            # Read the CSV file into a dataframe
            df = pd.read_csv(file_path)

            # Add a new column with a unique value for each file
            df['UniqueValue'] = filename.split('.')[0]  # You can modify this line to assign a different unique value

            # Append the dataframe to the list
            dfs.append(df)

# Concatenate all dataframes into a single dataframe
shows = pd.concat(dfs, ignore_index=True)

C:\Users\huawei\AppData\Local\Temp\ipykernel_19264\3370329746.py:26: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  shows = pd.concat(dfs, ignore_index=True)

In [71]:
shows

,Title,IMDb ID,Release Year,Genre,Cast,Synopsis,Rating,Runtime,Certificate,Number of Votes,Gross Revenue,UniqueValue
0,Spider-Man: Across the Spider-Verse,tt9362722,2023,"Animation, Action, Adventure","Directors:, Joaquim Dos Santos, , Kemp Powers,...","Miles Morales catapults across the Multiverse,...",9.1,140 min,PG,71960,NaN,action_series
1,FUBAR,tt13064902,2023–,"Action, Adventure, Thriller","Stars:, Arnold Schwarzenegger, , Monica Barbar...",A C.I.A. operative on the edge of retirement d...,6.5,NaN,TV-MA,15422,NaN,action_series
2,Barry,tt5348176,2018–2023,"Action, Comedy, Crime","Stars:, Bill Hader, , Stephen Root, , Sarah Go...",A hit man from the Midwest moves to Los Angele...,8.4,30 min,TV-MA,101883,NaN,action_series
3,John Wick: Chapter 4,tt10366206,2023,"Action, Crime, Thriller","Director:, Chad Stahelski, | , Stars:, Kea...",John Wick uncovers a path to defeating The Hig...,8.0,169 min,R,195078,NaN,action_series
4,Fast X,tt5433140,2023,"Action, Adventure, Crime","Director:, Louis Leterrier, | , Stars:, Vi...",Dom Toretto and his family are targeted by the...,6.3,141 min,PG-13,39326,NaN,action_series
...,...,...,...,...,...,...,...,...,...,...,...,...
236823,How to Blow Up a Pipeline,tt21440780,2022,"Crime, Drama, Thriller","Director:, Daniel Goldhaber, | , Stars:, A...",A crew of environmental activists plot a darin...,7.1,104 min,R,3306,NaN,western_series
236824,Hell on Wheels,tt1699748,2011–2016,"Drama, Western","Stars:, Anson Mount, , Colm Meaney, , Robin Mc...","The Civil War is past, but former Confederate ...",8.3,42 min,TV-14,53698,NaN,western_series
236825,The Magnificent Seven,tt0054047,1960,"Action, Adventure, Drama","Director:, John Sturges, | , Stars:, Yul B...",Seven gunfighters are hired by Mexican peasant...,7.7,128 min,Approved,98360,"4,905,000",western_series
236826,Wagon Train,tt0050073,1957–1965,Western,"Stars:, Frank McGrath, , Terry Wilson, , Rober...",Stories of the journeys of a wagon train as it...,7.5,75 min,TV-PG,3465,NaN,western_series
236827,Desperado,tt0112851,1995,"Action, Crime, Thriller","Director:, Robert Rodriguez, | , Stars:, A...",Former musician and gunslinger El Mariachi arr...,7.1,104 min,R,191291,"25,625,110",western_series

In [43]:
shows.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236828 entries, 0 to 236827
Data columns (total 12 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Title            236828 non-null  object
 1   IMDb ID          236828 non-null  object
 2   Release Year     236819 non-null  object
 3   Genre            236828 non-null  object
 4   Cast             235956 non-null  object
 5   Synopsis         236828 non-null  object
 6   Rating           236828 non-null  float64
 7   Runtime          216983 non-null  object
 8   Certificate      169091 non-null  object
 9   Number of Votes  236828 non-null  object
 10  Gross Revenue    45611 non-null   object
 11  UniqueValue      236828 non-null  object
dtypes: float64(1), object(11)
memory usage: 21.7+ MB

In [86]:
shows.describe()

             Rating
count  99186.000000
mean       6.498823
std        1.339605
min        1.000000
25%        5.700000
50%        6.600000
75%        7.400000
max       10.000000

In [45]:
tvs1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Series Title  50000 non-null  object
 1   Release Year  49800 non-null  object
 2   Runtime       50000 non-null  object
 3   Genre         50000 non-null  object
 4   Rating        50000 non-null  object
 5   Cast          49909 non-null  object
 6   Synopsis      50000 non-null  object
dtypes: object(7)
memory usage: 2.7+ MB

In [46]:
tvs2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Poster_Link          2000 non-null   object
 1   Series_Title         2000 non-null   object
 2   Runtime_of_Series    2000 non-null   object
 3   Certificate          703 non-null    object
 4   Runtime_of_Episodes  1957 non-null   object
 5   Genre                2000 non-null   object
 6   IMDB_Rating          2000 non-null   float64
 7   Overview             2000 non-null   object
 8   Star1                2000 non-null   object
 9   Star2                2000 non-null   object
 10  Star3                1999 non-null   object
 11  Star4                1995 non-null   object
 12  No_of_Votes          2000 non-null   int64
dtypes: float64(1), int64(1), object(11)
memory usage: 203.3+ KB

In [50]:
shows['Title'].nunique()

99186

In [72]:
duplicates_count = shows.duplicated().sum()
print("Number of duplicates in the DataFrame:", duplicates_count)

Number of duplicates in the DataFrame: 44725

In [73]:
print("Shape of DataFrame before dropping duplicates:", shows.shape)

# Dropping duplicates
shows.drop_duplicates(subset='Title', keep='first', inplace=True)

# Verify the changes by printing the updated DataFrame shape
print("Shape of DataFrame after dropping duplicates:", shows.shape)

Shape of DataFrame before dropping duplicates: (236828, 12)
Shape of DataFrame after dropping duplicates: (99186, 12)

In [74]:
shows.duplicated().sum()

0

In [75]:
shows['Title'].nunique()

99186

In [76]:
tvs1['Series Title'].nunique()

9644

In [78]:
print("Shape of DataFrame before dropping duplicates:", tvs1.shape)

# Dropping duplicates from the DataFrame
tvs1.drop_duplicates(subset='Series Title', keep='first', inplace=True)

# Verify the changes by printing the updated DataFrame shape
print("Shape of DataFrame after dropping duplicates:", tvs1.shape)

Shape of DataFrame before dropping duplicates: (9644, 7)
Shape of DataFrame after dropping duplicates: (9644, 7)

In [82]:
tvs2['Series_Title'].nunique()

1956

In [84]:
print("Shape of DataFrame before dropping duplicates:", tvs2.shape)

# Dropping duplicates from the DataFrame
tvs2.drop_duplicates(subset='Series_Title', keep='first', inplace=True)

# Verify the changes by printing the updated DataFrame shape
print("Shape of DataFrame after dropping duplicates:", tvs2.shape)

Shape of DataFrame before dropping duplicates: (2000, 13)
Shape of DataFrame after dropping duplicates: (1956, 13)

In [120]:
tvs1.rename(columns={'Series Title': 'Title', 'B': 'Column2'}, inplace=True)
tvs2.rename(columns={'Series_Title': 'Title','Runtime_of_Series':'Release Year', 'Runtime_of_Episodes':'Runtime', 
                     'IMDB_Rating': 'Rating', 'No_of_Votes':'Number of Votes', 'Overview': 'Synopsis'}, inplace = True)

In [95]:
shows.info()

<class 'pandas.core.frame.DataFrame'>
Index: 99186 entries, 0 to 234577
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            99186 non-null  object
 1   IMDb ID          99186 non-null  object
 2   Release Year     99180 non-null  object
 3   Genre            99186 non-null  object
 4   Cast             98593 non-null  object
 5   Synopsis         99186 non-null  object
 6   Rating           99186 non-null  float64
 7   Runtime          88829 non-null  object
 8   Certificate      54372 non-null  object
 9   Number of Votes  99186 non-null  object
 10  Gross Revenue    11938 non-null  object
 11  UniqueValue      99186 non-null  object
dtypes: float64(1), object(11)
memory usage: 9.8+ MB

In [139]:
tvs1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9644 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         9644 non-null   object
 1   Release Year  9454 non-null   object
 2   Runtime       9644 non-null   object
 3   Genre         9644 non-null   object
 4   Rating        9644 non-null   object
 5   Cast          9561 non-null   object
 6   Synopsis      9644 non-null   object
dtypes: object(7)
memory usage: 602.8+ KB

In [115]:
titles_df1 = set(shows['Title'])
titles_df2 = set(tvs1['Title'])
titles_df3 = set(tvs2['Title'])

# Find the unique titles across all three DataFrames
unique_titles_across_all = titles_df1.intersection(titles_df2, titles_df3)

# Find the count of unique titles in each DataFrame individually
count_unique_titles_df1 = len(titles_df1 - titles_df2 - titles_df3)
count_unique_titles_df2 = len(titles_df2 - titles_df1 - titles_df3)
count_unique_titles_df3 = len(titles_df3 - titles_df1 - titles_df2)

# Find the count of unique titles across all DataFrames
count_unique_titles_across_all = len(unique_titles_across_all)

# Output counts of unique titles
print("Count of unique titles in shows:", count_unique_titles_df1)
print("Count of unique titles in tvs1:", count_unique_titles_df2)
print("Count of unique titles in tvs2:", count_unique_titles_df3)
print("Intersection between the datasets:", count_unique_titles_across_all)

Count of unique titles in shows: 92351
Count of unique titles in tvs1: 2664
Count of unique titles in tvs2: 33
Intersection between the datasets: 1700

In [103]:
# Assuming df3 is your third DataFrame
tvs2['Cast'] = tvs2[['Star1', 'Star2', 'Star3', 'Star4']].fillna('').agg(', '.join, axis=1)
# Drop individual star columns
tvs2.drop(['Star1', 'Star2', 'Star3', 'Star4'], axis=1, inplace=True)

## Merging the Datasets

In [127]:
final_shows = pd.concat([shows, tvs1, tvs2])

In [128]:
print("Shape of DataFrame before dropping duplicates:", final_shows.shape)

# Dropping duplicates from the DataFrame
final_shows.drop_duplicates(subset='Title', keep='first', inplace=True)

#Dropping unnecessary columns
final_shows.drop(['UniqueValue', 'Poster_Link'], axis=1, inplace=True)

# Verify the changes by printing the updated DataFrame shape
print("Shape of DataFrame after dropping duplicates:", final_shows.shape)

Shape of DataFrame before dropping duplicates: (110786, 13)
Shape of DataFrame after dropping duplicates: (102067, 11)

In [129]:
final_shows['Title'].nunique()

102067

In [130]:
final_shows.info()

<class 'pandas.core.frame.DataFrame'>
Index: 102067 entries, 0 to 1952
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Title            102067 non-null  object
 1   IMDb ID          99186 non-null   object
 2   Release Year     101923 non-null  object
 3   Genre            102067 non-null  object
 4   Cast             101428 non-null  object
 5   Synopsis         102067 non-null  object
 6   Rating           102067 non-null  object
 7   Runtime          91707 non-null   object
 8   Certificate      54387 non-null   object
 9   Number of Votes  99219 non-null   object
 10  Gross Revenue    11938 non-null   object
dtypes: object(11)
memory usage: 9.3+ MB

In [110]:
final_shows

,Title,IMDb ID,Release Year,Genre,Cast,Synopsis,Rating,Runtime,Certificate,Number of Votes,Gross Revenue,UniqueValue,Poster_Link,Runtime_of_Series,Overview
0,Spider-Man: Across the Spider-Verse,tt9362722,2023,"Animation, Action, Adventure","Directors:, Joaquim Dos Santos, , Kemp Powers,...","Miles Morales catapults across the Multiverse,...",9.1,140 min,PG,71960,NaN,action_series,NaN,NaN,NaN
1,FUBAR,tt13064902,2023–,"Action, Adventure, Thriller","Stars:, Arnold Schwarzenegger, , Monica Barbar...",A C.I.A. operative on the edge of retirement d...,6.5,NaN,TV-MA,15422,NaN,action_series,NaN,NaN,NaN
2,Barry,tt5348176,2018–2023,"Action, Comedy, Crime","Stars:, Bill Hader, , Stephen Root, , Sarah Go...",A hit man from the Midwest moves to Los Angele...,8.4,30 min,TV-MA,101883,NaN,action_series,NaN,NaN,NaN
3,John Wick: Chapter 4,tt10366206,2023,"Action, Crime, Thriller","Director:, Chad Stahelski, | , Stars:, Kea...",John Wick uncovers a path to defeating The Hig...,8.0,169 min,R,195078,NaN,action_series,NaN,NaN,NaN
4,Fast X,tt5433140,2023,"Action, Adventure, Crime","Director:, Louis Leterrier, | , Stars:, Vi...",Dom Toretto and his family are targeted by the...,6.3,141 min,PG-13,39326,NaN,action_series,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1712,Bang Baang,NaN,NaN,"Action, Thriller","Ruhi Singh, Mr. Faisu, Aman Gandotra, Shataf F...",NaN,7.2,18 min,18,6414,NaN,NaN,https://m.media-amazon.com/images/M/MV5BMDkxYj...,(2021– ),Raghu faces the biggest test of his life when ...
1823,High,NaN,NaN,"Crime, Drama, Thriller","Akshay Oberoi, Ranvir Shorey, Mrinmayee Godbol...",NaN,8.2,35 min,18,5920,NaN,NaN,https://m.media-amazon.com/images/M/MV5BOTNjND...,(2020– ),Shiv Mathur is an addict and eventually finds ...
1919,SideHero,NaN,NaN,Comedy,"Kunaal Roy Kapur, Shakti Kapoor, Tsumugi Vidal...",NaN,8.6,30 min,NaN,5450,NaN,NaN,https://m.media-amazon.com/images/M/MV5BYjBjZm...,(2018– ),"Through all the drama, the theatrics, the colo..."
1940,Mutlu Ol Yeter,NaN,NaN,"Comedy, Drama, Romance","Ali Atay, Asli Enver, Ertan Saban, Öner Erkan",NaN,8.4,90 min,NaN,5347,NaN,NaN,https://m.media-amazon.com/images/M/MV5BM2Q3MT...,(2015),Babur has the mission to kill the son of his f...
1952,Shabhaye Barareh,NaN,NaN,Comedy,"Mehran Modiri, Siamak Ansari, Mohammad Shiri, ...",NaN,8.3,60 min,NaN,5280,NaN,NaN,https://m.media-amazon.com/images/M/MV5BOTQ1OW...,(2005–2006),Set in late 40s in Iran. When a politically ex...

In [131]:
final_shows['Title'].value_counts()

Title
Spider-Man: Across the Spider-Verse    1
Rölli and the Golden Key               1
Gallo corriente, gallo valiente        1
Ghunghat                               1
Betty Boop- Judge for a Day            1
                                      ..
Dancing Queens                         1
Blue Murder at St. Trinian's           1
Pop Kaun                               1
The Mule                               1
Shabhaye Barareh                       1
Name: count, Length: 102067, dtype: int64

In [136]:
game_titles = final_shows[final_shows['Title'].str.contains('untitled', case=False)]

# Display rows where the 'Title' column contains the word 'game'
print(game_titles)

                                                    Title     IMDb ID  \
20823                                Untitled Pizza Movie  tt11469922
35565           Untitled Bill Russell/Netflix Documentary  tt18271440
71815                  Untitled Chris Cornell Documentary   tt9860834
73334                 Untitled Dave Chappelle Documentary  tt14727094
130429                              Untitled Horror Movie  tt12624584
151029                                         (Untitled)   tt1132193
233598                   Untitled Macbeth Western Project   tt4840492
1511                    Untitled Rick & Michonne Spin-Off         NaN
3999            Untitled Jon Snow/Game of Thrones Spinoff         NaN
4219       Untitled Apple/Godzilla and the Titans Project         NaN
4925                          Untitled the Batman Spinoff         NaN
5890            Untitled the Walking Dead Spinoff Project         NaN
6054         Untitled Netflix/Chronicles of Narnia Series         NaN
8569             Untitled Vince Gilligan Apple TV+ Series         NaN
8831                          Untitled B.J. Novak Project         NaN
8868         Untitled Nicolas Cage/Amazon Studios Project         NaN
9121                            Untitled Mr. Bean Project         NaN
9302    Untitled Janine Nabers/Donald Glover/Amazon Pr...         NaN
9792         Untitled Phoebe Waller-Bridge/Amazon Project         NaN
9837                        Untitled Wyatt Earp Anthology         NaN

       Release Year                          Genre  \
20823          2020                      Adventure
35565          2023  Documentary, Biography, Sport
71815          2021                    Documentary
73334          2021                    Documentary
130429         2021                 Comedy, Horror
151029         2009           Comedy, Drama, Music
233598         2015          Short, Action, Comedy
1511            NaN          Drama, Horror, Sci-Fi
3999            NaN                           ****
4219            NaN                 Action, Sci-Fi
4925       (2023– )          Crime, Drama, Fantasy
5890            NaN                          Drama
6054            NaN                        Fantasy
8569            NaN                          Drama
8831            NaN                      Talk-Show
8868            NaN       Action, Adventure, Crime
9121            NaN                         Comedy
9302            NaN                           ****
9792            NaN                           ****
9837            NaN                      Biography

                                                     Cast  \
20823   Director:, David Shapiro, | ,     Stars:, Andr...
35565   Stars:, Larry Bird, , Satch Sanders, , Bill Wa...
71815                               Director:, Peter Berg
73334   Directors:, Steven Bognar, , Julia Reichert, |...
130429  Director:, Nick Simon, | ,     Stars:, Luke Ba...
151029  Director:, Jonathan Parker, | ,     Stars:, Ad...
233598  Director:, Alexander Wardach, | ,     Stars:, ...
1511                                  Star:Andrew Lincoln
3999                                   Star:Kit Harington
4219    Christopher Heyerdahl, Mari Yamamoto, Qyoko Ku...
4925                                   Star:Colin Farrell
5890                         Andrew Lincoln, Danai Gurira
6054                                                  NaN
8569                                    Star:Rhea Seehorn
8831    Jon Bernthal, Boyd Holbrook, B.J. Novak, Amy L...
8868                                    Star:Nicolas Cage
9121                                  Star:Rowan Atkinson
9302    Dominique Fishback, Danielia Maximillian, Leon...
9792                            Star:Phoebe Waller-Bridge
9837                                   Star:Travis Fimmel

                                                 Synopsis Rating  Runtime  \
20823   How do you remember somebody in a disposable w...    7.3  113 min
35565   Features interviews and personal archives from...    7.9  200 min
71815   Documentary about the late rock and roll singe...    8.0      NaN
73334   Dave Chappelle launches his outdoor and social...    7.7      NaN
130429  A comedy about making a horror movie. When six...    4.8   87 min
151029  A Chelsea art gallerist falls for a brooding n...    6.2   96 min
233598  When Sheriff Macbeth the Kid kills Marshal Dun...    6.8   40 min
1511    Follows Rick Grimes from the departure of his ...   ****     ****
3999         Based after the events of "Game of Thrones".   ****     ****
4219    Set after the battle between Godzilla and the ...   ****     ****
4925    It follows the transformation of Oswald Cobble...   ****     ****
5890    The love story between Rick and Michonne, chan...   ****     ****
6054                                           Add a Plot   ****     ****
8569                               Plot kept under wraps.   ****     ****
8831    About people figuring out timeless moral quest...   ****     ****
8868    When Vern's world collides with Squib, their m...   ****     ****
9121           Described as a story about older Mr. Bean.   ****     ****
9302    A series that reportedly revolves around a Bey...   ****     ****
9792                                    Plot under wraps.   ****     ****
9837    The series will follow many iconic sinners and...   ****     ****

       Certificate Number of Votes Gross Revenue
20823          NaN               7           NaN
35565        TV-MA            1200           NaN
71815          NaN               7           NaN
73334          NaN             181           NaN
130429   Not Rated            1226           NaN
151029           R            2252       230,600
233598         NaN               6           NaN
1511           NaN             NaN           NaN
3999           NaN             NaN           NaN
4219           NaN             NaN           NaN
4925           NaN             NaN           NaN
5890           NaN             NaN           NaN
6054           NaN             NaN           NaN
8569           NaN             NaN           NaN
8831           NaN             NaN           NaN
8868           NaN             NaN           NaN
9121           NaN             NaN           NaN
9302           NaN             NaN           NaN
9792           NaN             NaN           NaN
9837           NaN             NaN           NaN
20

In [137]:
print(len(game_titles))

20

In [138]:
# Assuming 'merged_df' is your DataFrame
final_shows = final_shows[~final_shows['Title'].str.contains('untitled', case=False)]

# Display updated DataFrame after removing rows with 'untitled' in the 'Title' column
final_shows

,Title,IMDb ID,Release Year,Genre,Cast,Synopsis,Rating,Runtime,Certificate,Number of Votes,Gross Revenue
0,Spider-Man: Across the Spider-Verse,tt9362722,2023,"Animation, Action, Adventure","Directors:, Joaquim Dos Santos, , Kemp Powers,...","Miles Morales catapults across the Multiverse,...",9.1,140 min,PG,71960,NaN
1,FUBAR,tt13064902,2023–,"Action, Adventure, Thriller","Stars:, Arnold Schwarzenegger, , Monica Barbar...",A C.I.A. operative on the edge of retirement d...,6.5,NaN,TV-MA,15422,NaN
2,Barry,tt5348176,2018–2023,"Action, Comedy, Crime","Stars:, Bill Hader, , Stephen Root, , Sarah Go...",A hit man from the Midwest moves to Los Angele...,8.4,30 min,TV-MA,101883,NaN
3,John Wick: Chapter 4,tt10366206,2023,"Action, Crime, Thriller","Director:, Chad Stahelski, | , Stars:, Kea...",John Wick uncovers a path to defeating The Hig...,8.0,169 min,R,195078,NaN
4,Fast X,tt5433140,2023,"Action, Adventure, Crime","Director:, Louis Leterrier, | , Stars:, Vi...",Dom Toretto and his family are targeted by the...,6.3,141 min,PG-13,39326,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1712,Bang Baang,NaN,(2021– ),"Action, Thriller","Ruhi Singh, Mr. Faisu, Aman Gandotra, Shataf F...",Raghu faces the biggest test of his life when ...,7.2,18 min,18,6414,NaN
1823,High,NaN,(2020– ),"Crime, Drama, Thriller","Akshay Oberoi, Ranvir Shorey, Mrinmayee Godbol...",Shiv Mathur is an addict and eventually finds ...,8.2,35 min,18,5920,NaN
1919,SideHero,NaN,(2018– ),Comedy,"Kunaal Roy Kapur, Shakti Kapoor, Tsumugi Vidal...","Through all the drama, the theatrics, the colo...",8.6,30 min,NaN,5450,NaN
1940,Mutlu Ol Yeter,NaN,(2015),"Comedy, Drama, Romance","Ali Atay, Asli Enver, Ertan Saban, Öner Erkan",Babur has the mission to kill the son of his f...,8.4,90 min,NaN,5347,NaN
1952,Shabhaye Barareh,NaN,(2005–2006),Comedy,"Mehran Modiri, Siamak Ansari, Mohammad Shiri, ...",Set in late 40s in Iran. When a politically ex...,8.3,60 min,NaN,5280,NaN

In [141]:
missing_release_year = final_shows[final_shows['Release Year'].isnull()]

# Display rows with missing values in the 'Release Year' column
print(len(missing_release_year))

132

In [142]:
final_shows.dropna(subset=['Release Year'], inplace=True)

# Display information or updated DataFrame after removing rows with missing 'Release Year'
final_shows.info()  # Show DataFrame information after removal

<class 'pandas.core.frame.DataFrame'>
Index: 101915 entries, 0 to 1952
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Title            101915 non-null  object
 1   IMDb ID          99173 non-null   object
 2   Release Year     101915 non-null  object
 3   Genre            101915 non-null  object
 4   Cast             101302 non-null  object
 5   Synopsis         101915 non-null  object
 6   Rating           101915 non-null  object
 7   Runtime          91560 non-null   object
 8   Certificate      54383 non-null   object
 9   Number of Votes  99206 non-null   object
 10  Gross Revenue    11937 non-null   object
dtypes: object(11)
memory usage: 9.3+ MB